{% extends 'base.html' %}
{% load static %}

{% block title %}Smart Parking System: Not checked in{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="row text-center justify-content-center align-items-center" style="height: 650px;">
    <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 base-card">
        <h4>Error!</h4><br>
        <small>You have not checked in yet. Click the button below to go back to service page.</small><br>
        <form method="POST" action="{% url 'services' %}">
            {% csrf_token %}
            <input type="hidden" value={{ acc.mobile_number }} name="mobile_number">
            <button class="btn btn-outline-light btn-lg m-3">
                Services
            </button>
        </form><br>
    </div>
</div>

<div class="row" >
</div>
{% endblock body %}

{% block js %}{% endblock js %}